body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container div {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
}

.container input {
    font-size: larger;
    height: 40px;
    border-radius: 10px;
    border-color: darkgray;
    border-style: solid;
    padding: 5px;
    outline-width: 0;
}

.container button {
    background-color: darkgray;
    border: none;
    font-size: larger;
    height: 40px;
    border-radius: 10px;
}

.container ul {
    list-style: none;
    height: auto;
    gap: 2px;

    display: flex;
    flex-flow: row wrap;
}

.container li {
    background: lightgreen;
    width: 150px;
    height: 10px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.container i {
    background: darkgray;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: white;
    font-style: normal;
    vertical-align: middle;
    line-height: 15px;
    text-align: center;
    font-size: smaller;
}

.container span {
    margin: auto;
    vertical-align: middle;
    line-height: 10px;
}